@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}


body {
    margin: 0 auto; 
    width: fit-content;
}


/* 등록하기 버튼 */
.inputRegHome  {
    font-size: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
    padding: 8px 32px;
    color: #000000;
    border: solid 1px rgba(0,0,0,.08);
    background-color: #FFC846;
}

/* 취소하기 버튼 */
.cancelRegHome  {
    font-size: 10px;
    width: 50%;
    border: none; 
    border-radius: 5px;
    padding: 8px 32px;
    color: #FFFFFF;
    border: solid 1px rgba(0,0,0,.08);
    background-color: #000000;
  
}


.myHomeRegForm {
	font-size: 10px;
	color : #000000;
	
	
}


div input , div select , .main{
	width: 200px;
    height: 33px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #BBC5D8;
    border-radius: 7px;
    box-sizing: border-box;
    font-size : 10px;
}



